#---- App settings ----
# MY_ENV_VAR1=

#---- App settings ----
# WEBAPP_PORT_CONTAINER=49126

#---- Docker build settings ----
# Do not mmodify unless you know what you are doing !
CONTAINER_REGISTRY=lgvudh.azurecr.io
IMAGE_NAME=urban-model-platform
IMAGE_TAG=
