*/.DS_Store
.DS_Store

*/.DS_Store
.DS_Store
api/__pycache__/*
api/*/__pycache__/*
api/*/*/__pycache__/*
api/data/*
api/configs/providers.yml
api/configs/dev_environment
api/configs/prod_environment

api/tmp/data/*
!api/tmp/data/.gitkeep

*/node_modules/
db/*

geoserver/data/geoserver/*
!geoserver/data/geoserver/.keep

geoserver/data/pg_data/*
!geoserver/data/pg_data/.keep

geoserver/configs/*
!geoserver/configs/geoserver.example
!geoserver/configs/postgis.example
