# Production ready docker-compose file for the Urban Model Platform
networks:
  prod:
    driver: bridge
    name: ${DOCKER_NETWORK:-ump_prod}
    external: true

volumes:
  postgres_data:
  geoserver_postgres_data:
  kc-db_data:
  geoserver_data:

services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
    image: ${CONTAINER_REGISTRY:-local}/${IMAGE_NAME:-urban-model-platform}:${IMAGE_TAG:-latest}
    restart: "unless-stopped"
    ports:
      - ${WEBAPP_PORT_EXTERNAL:-5003}:5000
    environment:
      UMP_API_SERVER_URL: ${UMP_API_SERVER_URL:-localhost:5000}
      UMP_API_SERVER_WORKERS: ${UMP_API_SERVER_WORKERS:-1}
      UMP_SERVER_TIMEOUT: ${UMP_SERVER_TIMEOUT:-30}
      UMP_LOG_LEVEL: ${UMP_LOG_LEVEL:-INFO}
      UMP_PROVIDERS_FILE: /home/pythonuser/providers.yaml
      UMP_KEYCLOAK_USER: ${UMP_KEYCLOAK_USER:-admin}
      UMP_KEYCLOAK_PASSWORD: ${UMP_KEYCLOAK_PASSWORD:-admin}
      UMP_KEYCLOAK_URL: ${UMP_KEYCLOAK_URL:-http://keycloak:8080/auth}
      UMP_KEYCLOAK_CLIENT_ID: ${UMP_KEYCLOAK_CLIENT_ID:-ump-client}
      UMP_KEYCLOAK_REALM: ${UMP_KEYCLOAK_REALM:-UrbanModelPlatform}
      UMP_DATABASE_NAME: ${UMP_DATABASE_NAME:-ump}
      UMP_DATABASE_USER: ${UMP_DATABASE_USER:-ump}
      UMP_DATABASE_PASSWORD: ${UMP_DATABASE_PASSWORD:-ump}
      UMP_DATABASE_HOST: api-db
      UMP_DATABASE_PORT: 5432
      UMP_GEOSERVER_WORKSPACE_NAME: ${UMP_GEOSERVER_WORKSPACE_NAME:-UMP}
      UMP_GEOSERVER_USER: ${UMP_GEOSERVER_USER:-admin}
      UMP_GEOSERVER_PASSWORD: ${UMP_GEOSERVER_PASSWORD:-geoserver}
      UMP_GEOSERVER_URL: http://geoserver:8080/geoserver
      # Using dedicated database for geoserver results in production
      UMP_GEOSERVER_DB_PORT: 5432
      UMP_GEOSERVER_DB_NAME: ${UMP_GEOSERVER_DB_NAME:-geoserver_results}
      UMP_GEOSERVER_DB_USER: ${UMP_GEOSERVER_DB_USER:-geoserver}
      UMP_GEOSERVER_DB_PASSWORD: ${UMP_GEOSERVER_DB_PASSWORD:-geoserver}
      UMP_GEOSERVER_DB_HOST: geoserver-db
      UMP_GEOSERVER_CONNECTION_TIMEOUT: ${UMP_GEOSERVER_CONNECTION_TIMEOUT:-60}
      UMP_JOB_DELETE_INTERVAL: ${UMP_JOB_DELETE_INTERVAL:-240}
    volumes:
      - ./providers.yaml:/home/pythonuser/providers.yaml
    networks:
      - prod
    depends_on:
      - api-db
      - keycloak

  api-db:
    image: postgis/postgis:14-3.3
    restart: "unless-stopped"
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    environment:
      POSTGRES_DB: ${UMP_DATABASE_NAME}
      POSTGRES_USER: ${UMP_DATABASE_USER}
      POSTGRES_PASSWORD: ${UMP_DATABASE_PASSWORD}
    expose:
      - 5432
    networks:
      - prod

  # Separate PostGIS database for Geoserver results in production
  geoserver-db:
    image: postgis/postgis:14-3.3
    restart: "unless-stopped"
    volumes:
      - geoserver_postgres_data:/var/lib/postgresql/data/
    environment:
      POSTGRES_DB: ${UMP_GEOSERVER_DB_NAME:-geoserver_results}
      POSTGRES_USER: ${UMP_GEOSERVER_DB_USER:-geoserver}
      POSTGRES_PASSWORD: ${UMP_GEOSERVER_DB_PASSWORD:-geoserver}
    expose:
      - 5432
    networks:
      - prod

  geoserver:
    image: kartoza/geoserver:2.22.0
    restart: "unless-stopped"
    ports:
      - ${GEOSERVER_PORT_EXTERNAL:-8181}:8080
    volumes:
      - geoserver_data:/opt/geoserver/data_dir
    environment:
      GEOSERVER_ADMIN_USER: ${UMP_GEOSERVER_USER}
      GEOSERVER_ADMIN_PASSWORD: ${UMP_GEOSERVER_PASSWORD}
      # Production: Using dedicated database for Geoserver
      HOST: geoserver-db
      POSTGRES_DB: ${UMP_GEOSERVER_DB_NAME:-geoserver_results}
      POSTGRES_USER: ${UMP_GEOSERVER_DB_USER:-geoserver}
      POSTGRES_PASS: ${UMP_GEOSERVER_DB_PASSWORD:-geoserver}
    depends_on:
      - geoserver-db
    networks:
      - prod

      
  keycloak:
    image: quay.io/keycloak/keycloak:25.0
    restart: "unless-stopped"
    ports: 
      - ${KEYCLOAK_PORT_EXTERNAL:-8282}:8080
    environment:
      KEYCLOAK_ADMIN: ${UMP_KEYCLOAK_USER:-admin}
      KEYCLOAK_ADMIN_PASSWORD: ${UMP_KEYCLOAK_PASSWORD:-admin}
      KC_DB: postgres
      KC_DB_URL_HOST: kc-db
      KC_DB_URL_PORT: 5432
      KC_DB_URL_DATABASE: keycloak
      KC_DB_USERNAME: ${UMP_KEYCLOAK_DB_USER:-keycloak}
      KC_DB_PASSWORD: ${UMP_KEYCLOAK_DB_PASSWORD:-keycloak}
      KC_HOSTNAME: ${UMP_KEYCLOAK_HOSTNAME:-localhost}
      KC_HOSTNAME_PATH: /auth
      KC_HTTP_RELATIVE_PATH: /auth
    depends_on:
      - kc-db
    command: ['start', '--proxy-headers', 'xforwarded', '--http-enabled', 'true']
    networks:
      - prod

  kc-db:
    image: postgis/postgis:14-3.3
    restart: "unless-stopped"
    volumes:
      - kc-db_data:/var/lib/postgresql/data/
    environment:
      POSTGRES_DB: keycloak
      POSTGRES_USER: ${UMP_KEYCLOAK_DB_USER:-keycloak}
      POSTGRES_PASSWORD: ${UMP_KEYCLOAK_DB_PASSWORD:-keycloak}
    expose:
      - 5432
    networks:
      - prod
