# !NOTE: This is NOT a prodiuction ready docker-compose file. It is meant for development purposes only.
networks:
  dev:
    external: true
    name: ${DOCKER_NETWORK}

volumes:
  postgres_data:
  geoserver_postgres_data:
  kc-db_data:
  geoserver_data:

services:
  # !NOTE: this is for testing the current app version in a container, only!
  # development is executed locally
  # and the prod deployment differs anyway!
  api:
    image: ${CONTAINER_REGISTRY}/${IMAGE_NAME}:${IMAGE_TAG}
    restart: "unless-stopped"
    ports:
      - ${WEBAPP_PORT_EXTERNAL}:5000
    environment:
      UMP_API_SERVER_URL: localhost:${WEBAPP_PORT_EXTERNAL}
      UMP_API_SERVER_WORKERS: 1
      UMP_SERVER_TIMEOUT: 30 # seconds
      UMP_LOG_LEVEL: DEBUG
      UMP_PROVIDERS_FILE: /home/pythonuser/providers.yaml
      UMP_KEYCLOAK_USER: admin
      UMP_KEYCLOAK_PASSWORD: admin
      UMP_KEYCLOAK_URL: http://keycloak:8080/auth
      UMP_KEYCLOAK_CLIENT_ID: ump-client
      UMP_KEYCLOAK_REALM: UrbanModelPlatform
      UMP_DATABASE_NAME: ump
      UMP_DATABASE_USER: ump
      UMP_DATABASE_PASSWORD: ump
      UMP_DATABASE_HOST: api-db
      UMP_DATABASE_PORT: 5432
      UMP_GEOSERVER_WORKSPACE_NAME: ${UMP_GEOSERVER_WORKSPACE_NAME} # !using the same as for the local app
      UMP_GEOSERVER_USER: admin
      UMP_GEOSERVER_PASSWORD: geoserver
      UMP_GEOSERVER_URL: http://geoserver:8080/geoserver
      #---
      # using dedicated database for geoserver results
      UMP_GEOSERVER_DB_PORT: 5432
      UMP_GEOSERVER_DB_NAME: geoserver_results
      UMP_GEOSERVER_DB_USER: geoserver
      UMP_GEOSERVER_DB_PASSWORD: geoserver
      UMP_GEOSERVER_DB_HOST: geoserver-db
      #---
      UMP_GEOSERVER_CONNECTION_TIMEOUT: 60 # seconds
      UMP_JOB_DELETE_INTERVAL: 240 # minutes
    volumes:
      - ./providers.yaml:/home/pythonuser/providers.yaml
    networks:
      - dev

# !NOTE: here starts the dev environment setup!
# these apps a required dependencies for the UMP
# and are not part of the UMP itself
  api-db:
    image: postgis/postgis:14-3.3
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    environment:
      POSTGRES_DB: ump
      POSTGRES_USER: ump
      POSTGRES_PASSWORD: ump
    ports:
      - ${API_DB_PORT_EXTERNAL}:5432
    networks:
      - dev

  # Separate PostGIS database for Geoserver results
  geoserver-db:
    image: postgis/postgis:14-3.3
    volumes:
      - geoserver_postgres_data:/var/lib/postgresql/data/
    environment:
      POSTGRES_DB: geoserver_results
      POSTGRES_USER: geoserver
      POSTGRES_PASSWORD: geoserver
    ports:
      - ${GEOSERVER_DB_PORT_EXTERNAL:-5434}:5432
    networks:
      - dev

 # !NOTE: now using dedicated database for geoserver results!
  geoserver:
    image: kartoza/geoserver:2.22.0
    ports:
      - ${GEOSERVER_PORT_EXTERNAL}:8080
    volumes:
      - geoserver_data:/opt/geoserver/data_dir
    environment:
      GEOSERVER_ADMIN_USER: admin
      GEOSERVER_ADMIN_PASSWORD: geoserver
      #---
      # using dedicated database for geoserver results
      HOST: geoserver-db
      POSTGRES_DB: geoserver_results
      POSTGRES_USER: geoserver
      POSTGRES_PASS: geoserver
      #---
    depends_on:
      - geoserver-db
    networks:
      - dev

  noise-v4-api:
    image: lgvanalytics.azurecr.io/noiseprocesses:v4.0.5custom-coefficients-1.2.5
    restart: "unless-stopped"
    environment:
      FP_CELERY_BROKER_DB: '0'
      FP_CELERY_BROKER_HOST: "noise-v4-redis"
      FP_CELERY_BROKER_PORT: '6379'
      NP_JAVA_LIB_DIR: "/app/dist/lib"
      NP_LOG_LEVEL: DEBUG

      FP_RESULTS_CACHE_TTL_DAYS: '365'
      FP_RESULT_CACHE_DB: '1'
      FP_RESULT_CACHE_HOST: "noise-v4-redis"
      FP_RESULT_CACHE_PORT: '6379'

      FP_API_TITLE: "Noise calculation - OGC API Processes"
      FP_API_DESCRIPTION: "An OGC API Processes implementation for noise calculations."

      FP_CELERY_TASK_TLIMIT_HARD: 1800
      FP_CELERY_TASK_TLIMIT_SOFT: 1500
      FP_RESULTS_TEMP_TTL_HOURS: 24

      FP_JOB_STATUS_TTL_DAYS: 365
      FP_SYNC_EXECUTION_TIMEOUT_SECONDS: 10
      FP_LOG_LEVEL: "DEBUG"

      NP_JAVA_MAX_HEAP_SIZE: 2048
      NP_JAVA_INITIAL_HEAP_SIZE: 1024
      NP_DATABASE_IN_MEMORY: True
    command: ['uvicorn', 'app:app', '--host', '0.0.0.0', '--port', '8000', "--log-level", "debug"]
    ports:
      - 8001:8000
    networks:
      - dev

  noise-v4-worker:
    image: lgvanalytics.azurecr.io/noiseprocesses:v4.0.5custom-coefficients-1.2.5
    restart: "unless-stopped"
    environment:
      FP_RESULT_CACHE_DB: '1'
      FP_RESULT_CACHE_HOST: "noise-v4-redis"
      FP_RESULT_CACHE_PORT: '6379'
      FP_RESULTS_CACHE_TTL_DAYS: 365
      
      NP_JAVA_LIB_DIR: "/app/dist/lib"
      
      NP_JAVA_MAX_HEAP_SIZE: 2048
      NP_JAVA_INITIAL_HEAP_SIZE: 1024
      NP_DATABASE_IN_MEMORY: True

      FP_CELERY_BROKER_HOST: "noise-v4-redis"
      FP_CELERY_BROKER_PORT: 6379
      FP_CELERY_BROKER_DB: 0
      FP_CELERY_TASK_TLIMIT_HARD: 1800 # 22 Minutes
      FP_CELERY_TASK_TLIMIT_SOFT: 1200 # 20 Minutes

      FP_JOB_STATUS_TTL_DAYS: 365

    # ports:
    #   - ${WEBAPP_PORT_CONTAINER}:${WEBAPP_PORT}
    command: ['celery', '-A', 'fastprocesses.worker.celery_app', 'worker', '--loglevel=debug']
    networks:
      - dev

  noise-v4-redis:
    image: docker.dragonflydb.io/dragonflydb/dragonfly:v1.27.1
    # expose: 
    #   - ${REDIS_PORT}
    restart: "unless-stopped"
    command: dragonfly --requirepass "" # --appendonly yes
    networks:
      - dev

  keycloak:
    image: quay.io/keycloak/keycloak:25.0
    ports: 
      - ${KEYCLOAK_PORT_EXTERNAL}:8080
    volumes:
      - ./keycloak-example-conf.json:/opt/keycloak/data/import/realm-export.json
    environment:
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin
      KC_DB: postgres
      KC_DB_URL_HOST: kc-db
      KC_DB_URL_PORT: 5432
      KC_DB_URL_DATABASE: keycloak
      KC_DB_USERNAME: keycloak
      KC_DB_PASSWORD: keycloak
      KC_HOSTNAME: localhost
      KC_HOSTNAME_PATH: /auth
      KC_HTTP_RELATIVE_PATH: /auth
    command: ['start', '--proxy-headers', 'xforwarded', '--http-enabled', 'true', '--import-realm']
    depends_on:
      - kc-db
    networks:
      - dev

  kc-db:
    image: postgis/postgis:14-3.3
    volumes:
      - kc-db_data:/var/lib/postgresql/data/
    environment:
      POSTGRES_DB: keycloak
      POSTGRES_USER: keycloak
      POSTGRES_PASSWORD: keycloak
    expose:
      - 5432
    networks:
      - dev