# This is the configuration file for setting up simulation servers.
# The servers should provide an OGC processes api which will be retrieved
# Only processes listed in this configuration file will also appear on the UMP
# One can also exclude processes manually by providing the "exclude" attribute

modelserver-1:
    url: "http://localhost:5005"
    name: "CSL Test Modelserver"
    authentication:
      type: "BasicAuth"
      user: "user"
      password: "password"
    timeout:  60
    processes:
      process-1:
        result-storage: "geoserver"
      process-2
        result-storage: "remote"
      process-3
        exclude: True
