apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "ump.fullname" . }}-settings
  labels:
    {{- include "ump.labels" . | nindent 4 }}
data:
  UMP_LOG_LEVEL: {{ .Values.config.logLevel | quote }}
  UMP_PROVIDERS_FILE: {{ .Values.config.providersFilePath | quote }}
  UMP_API_SERVER_URL: {{ .Values.config.apiServerUrl | quote }}
  UMP_API_SERVER_URL_PREFIX: {{ .Values.config.apiServerUrlPrefix | quote }}
  UMP_REMOTE_JOB_STATUS_REQUEST_INTERVAL: {{ .Values.config.remoteJobStatusRequestInterval | quote }}
  UMP_JOB_DELETE_INTERVAL: {{ .Values.config.jobDeleteInterval | quote }}
  UMP_API_SERVER_WORKERS: {{ .Values.config.apiServerWorkers | quote }}