apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "ump.fullname" . }}-settings
  labels:
    {{- include "ump.labels" . | nindent 4 }}
data:
  LOG_LEVEL: {{ .Values.config.logLevel | quote }}
  PROVIDERS_FILE: {{ .Values.config.providersFile | quote }}
  API_SERVER_URL: {{ .Values.config.apiServerUrl | quote }}
  REMOTE_JOB_STATUS_REQUEST_INTERVAL: {{ .Values.config.remoteJobStatusRequestInterval | quote }}
  JOB_DELETE_INTERVAL: {{ .Values.config.jobDeleteInterval | quote }}
