apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "ump.fullname" . }}
  labels:
    {{- include "ump.labels" . | nindent 4 }}
spec:
  # replicasets are retained for rollback purposes
  revisionHistoryLimit: 3  # Retain only the last 3 ReplicaSets
  {{- if not .Values.autoscaling.enabled }}
  replicas: {{ .Values.replicaCount }}
  {{- end }}
  selector:
    matchLabels:
      {{- include "ump.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "ump.labels" . | nindent 8 }}
        {{- with .Values.podLabels }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
    spec:
      {{- with .Values.image.pullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "ump.serviceAccountName" . }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      containers:
        - name: {{ .Chart.Name }}
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - name: http
              containerPort: {{ .Values.service.targetPort }}
              protocol: TCP
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
          volumeMounts:
            - name: tmp-volume
              mountPath: /tmp
            - name: providers-volume
              mountPath: {{ .Values.config.providersFilePath | quote }}
              readOnly: true
          envFrom:
            - configMapRef:
                name: {{ include "ump.fullname" . }}-settings
            # if keycloak/geoserver secrets are not referenced, they will be created
            {{- if not .Values.keycloakConnection.existingSecret.name }}
            - secretRef:
                name: {{ include "ump.fullname" . }}-keycloak-connection
            {{- end }}
            {{- if not .Values.geoserverConnection.existingSecret.name }}
            - secretRef:
                name: {{ include "ump.fullname" . }}-geoserver-connection
            {{- end }}
          env:
            - name: FLASK_APP
              value: ump.main
            # postgres connection
            {{- if .Values.postgresConnection.existingSecret.name }}
            - name: UMP_DATABASE_NAME
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.postgresConnection.existingSecret.name }}
                  key: dbname
            - name: UMP_DATABASE_HOST
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.postgresConnection.existingSecret.name }}
                  key: host
            - name: UMP_DATABASE_PORT
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.postgresConnection.existingSecret.name }}
                  key: port
            - name: UMP_DATABASE_USER
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.postgresConnection.existingSecret.name }}
                  key: user
            - name: UMP_DATABASE_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.postgresConnection.existingSecret.name }}
                  key: password
            # keycloak connection
            {{- end }}
            {{- if .Values.keycloakConnection.existingSecret.name }}
            - name: UMP_KEYCLOAK_USER
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.keycloakConnection.existingSecret.name }}
                  key: user
            - name: UMP_KEYCLOAK_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.keycloakConnection.existingSecret.name }}
                  key: password
            - name: UMP_KEYCLOAK_REALM
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.keycloakConnection.existingSecret.name }}
                  key: realm
            - name: UMP_KEYCLOAK_URL
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.keycloakConnection.existingSecret.name }}
                  key: url
            - name: UMP_KEYCLOAK_CLIENT_ID
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.keycloakConnection.existingSecret.name }}
                  key: clientId
            {{- end }}
            {{- if .Values.geoserverConnection.existingSecret.name }}
            - name: UMP_GEOSERVER_URL
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.geoserverConnection.existingSecret.name }}
                  key: url
            - name: UMP_GEOSERVER_DB_HOST
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.geoserverConnection.existingSecret.name }}
                  key: dbHost
            - name: UMP_GEOSERVER_DB_PORT
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.geoserverConnection.existingSecret.name }}
                  key: dbPort
            - name: UMP_GEOSERVER_WORKSPACE_NAME
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.geoserverConnection.existingSecret.name }}
                  key: workspaceName
            - name: UMP_GEOSERVER_USER
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.geoserverConnection.existingSecret.name }}
                  key: user
            - name: UMP_GEOSERVER_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.geoserverConnection.existingSecret.name }}
                  key: password
          {{- end }}
          readinessProbe:
            httpGet:
              path: /api/health/ready
              port: http
            initialDelaySeconds: 5
            periodSeconds: 10
      volumes:
        - name: tmp-volume
          emptyDir: {}
        - name: providers-volume
          configMap:
          {{- if not .Values.providers.existingConfigMap.name }}
            name: {{ include "ump.fullname" . }}-providers
          {{- else }}
            name: {{ .Values.providers.existingConfigMap.name }}
          {{- end }}
        {{- if not .Values.keycloakConnection.existingSecret.name }}
        - name: keycloak-config
          secret:
            secretName: {{ include "ump.fullname" . -}}-keycloak-connection
            defaultMode: 0400
        {{- end }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}