{{- if .Values.tls.enabled }}
apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: ump-api-http
  labels:
    {{- include "ump.labels" . | nindent 4 }}
spec:
  parentRefs:
    - name: {{ .Values.tls.gateway.name }}
      sectionName: {{ .Values.tls.gateway.httpSectionName }}
      group: gateway.networking.k8s.io
      kind: Gateway
  hostnames:
    - {{ .Values.tls.gateway.hostName }}
  rules:
    - matches:
        - path:
            type: PathPrefix
            value: /
      filters:
        - type: RequestRedirect
          requestRedirect:
            scheme: https
            statusCode: 308
{{- end }}