{{- if not .Values.keycloakConnection.existingSecret.name -}}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "ump.fullname" . }}-keycloak-connection
  labels:
    {{ include "ump.labels" . | nindent 4 }}
data:
  UMP_KEYCLOAK_CLIENT_ID: ""
  UMP_KEYCLOAK_PASSWORD: ""
  UMP_KEYCLOAK_REALM: ""
  UMP_KEYCLOAK_URL: ""
  UMP_KEYCLOAK_USER: ""
{{- end -}}