{{- if not .Values.keycloakConnection.existingSecret.name -}}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "ump.fullname" . }}-geoserver-connection
  labels:
    {{ include "ump.labels" . | nindent 4 }}
data:
  UMP_GEOSERVER_URL: ""
  UMP_GEOSERVER_DB_HOST: ""
  UMP_GEOSERVER_DB_PORT: ""
  UMP_GEOSERVER_DB_NAME: ""
  UMP_GEOSERVER_DB_USER: ""
  UMP_GEOSERVER_DB_PASSWORD: ""
  UMP_GEOSERVER_WORKSPACE_NAME: ""
  UMP_GEOSERVER_USER: ""
  UMP_GEOSERVER_PASSWORD: ""
  UMP_GEOSERVER_CONNECTION_TIMEOUT: ""
{{- end -}}