{{- if not .Values.keycloakConnection.existingSecret.name -}}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "ump.fullname" . }}-geoserver-connection
  labels:
    {{ include "ump.labels" . | nindent 4 }}
data:
  url: ""
  dbHost: ""
  dbPort: ""
  workspaceName: ""
  user: ""
  password: ""
{{- end -}}