{{- if not .Values.keycloakConnection.existingSecret.name -}}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "ump.fullname" . }}-keycloak-connection
  labels:
    {{ include "ump.labels" . | nindent 4 }}
data:
  KEYCLOAK_CLIENT_ID: ""
  KEYCLOAK_PASSWORD: ""
  KEYCLOAK_PROTOCOL: ""
  KEYCLOAK_REALM: ""
  KEYCLOAK_URL: ""
  KEYCLOAK_USER: ""
{{- end -}}