{{- if not .Values.keycloakConnection.existingSecret.name -}}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "ump.fullname" . }}-job-geoserver-connection
  annotations:
    "helm.sh/hook": pre-install,pre-upgrade
    "helm.sh/hook-weight": "-6"  # Lower weight than job (-5) ensures it runs first
    "helm.sh/hook-delete-policy": hook-succeeded
  labels:
    {{ include "ump.labels" . | nindent 4 }}
data:
  url: ""
  dbHost: ""
  dbPort: ""
  workspaceName: ""
  user: ""
  password: ""
{{- end -}}