{{- if not .Values.keycloakConnection.existingSecret.name }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "ump.fullname" . }}-job-geoserver-connection
  annotations:
    "helm.sh/hook": pre-install,pre-upgrade
    "helm.sh/hook-weight": "-6"  # Lower weight than job (-5) ensures it runs first
    "helm.sh/hook-delete-policy": hook-succeeded
  labels:
    {{ include "ump.labels" . | nindent 4 }}
data:
  UMP_GEOSERVER_URL: ""
  UMP_GEOSERVER_DB_HOST: ""
  UMP_GEOSERVER_DB_PORT: "5432"
  UMP_GEOSERVER_DB_NAME: "ump"
  UMP_GEOSERVER_DB_USER: "ump"
  UMP_GEOSERVER_DB_PASSWORD: "ump"
  UMP_GEOSERVER_WORKSPACE_NAME: "UMP"
  UMP_GEOSERVER_USER: "geoserver"
  UMP_GEOSERVER_PASSWORD: "geoserver"
  UMP_GEOSERVER_CONNECTION_TIMEOUT: "60"
{{- end -}}