# TODO: currently the full app is loaded when inly migrations are run
# TODO: create an app factory that only runs migrations and dont needs keycloak and geoserver connections
# TODO: then, the respective job secrets can be omitted
{{- if not .Values.keycloakConnection.existingSecret.name }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "ump.fullname" . }}-job-keycloak-connection
  annotations:
    "helm.sh/hook": pre-install,pre-upgrade
    "helm.sh/hook-weight": "-6"  # Lower weight than job (-5) ensures it runs first
    "helm.sh/hook-delete-policy": hook-succeeded
  labels:
    {{ include "ump.labels" . | nindent 4 }}
data:
  UMP_KEYCLOAK_CLIENT_ID: ""
  UMP_KEYCLOAK_PASSWORD: ""
  UMP_KEYCLOAK_REALM: ""
  UMP_KEYCLOAK_URL: ""
  UMP_KEYCLOAK_USER: ""
{{- end -}}